.container {
  /* color: #000 !important;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto; */
  padding: 2rem 8rem 0 8rem;
  /* height: 70vh;
  flex-direction: column;
  background: white;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; */
}

.chart{
  box-shadow: rgba(0, 0, 0, 0.15) 0px -5px 5px;
}

.selectionContainer {
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem .5rem;
  }
  .selectionContainer {
    padding-left: 1rem;
    flex-direction: column;
  }
}
