.enterpageContainer {
  display: flex;
  text-align: center;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
}

.btnsDiv {
  margin-top: 2rem;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.pic {
  position: absolute;
  width: 20%;
  height: auto;
  bottom: 0;
  animation: fadeIn 1.5s;
}

.spanStyle{
  color: #ffc815;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .btnsDiv {
    width: 100%;
  }
  .pic {
    width: 40%;
    bottom: 4rem;
  }
}
