.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
    flex-flow: column;
  }

  .spanStyle{
    color: #ffc815;
    text-decoration: underline;
    cursor: pointer;
  }

  .pic {
    position: absolute;
    width: 20%;
    height: auto;
    bottom: 0;
    animation: fadeIn 1.5s; 
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @media only screen and (max-width: 600px) {
    .pic {
      width: 40%;    
      bottom: 4rem;
    }
  }
  